<% provide(:title, "cv") %>
<%= render 'layouts/header' %>
<div class="row">
	<%= render 'layouts/sidebar' %>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-left">
    <div id="main-content">
      <p>
        <span>SOLO EXHIBITIONS</span>
      </p>
      <%= render 'layouts/blankLine' %>
      <p>
        <span>2013 &nbsp; &nbsp;February 15-March 17</span>
      </p>
      <p>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Distributed Processes, District of Columbia Arts Center, Washington, DC</span>
      </p>
      <%= render 'layouts/blankLine' %>
      <p>
        <span>GROUP EXHIBITIONS</span>
      </p>
      <%= render 'layouts/blankLine' %>
      <p>
        <span>2014 &nbsp; &nbsp;November 22</span>
      </p>
      <p>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Transformer 11th Annual Silent Auction</span>
      </p>
      <p>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Katzen Arts Center, American University</span>
      </p>
      <%= render 'layouts/blankLine' %>
      <p>
        <span>2013 &nbsp; &nbsp;April 10-June 9</span>
      </p>
      <p>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Washington Project for the Arts OPTIONS 2013, Arlington Arts Center, Arlington, VA</span>
      </p>
      <p>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;curated by Gerald Ross, Maryland Institute College of Art</span>
      </p>
      <%= render 'layouts/blankLine' %>
      <p>
        <span>2012 &nbsp; &nbsp;September 15-October 14</span>
      </p>
      <p>
        <span>Group Painting Show, Doris-Mae Gallery, Washington, DC</span>
      </p>
      <p>
        <span>curated by Thomas Drymon, Doris-Mae Gallery</span>
      </p>
      <%= render 'layouts/blankLine' %>
      <p>
        <span>February 27-March 28</span>
      </p>
      <p>
        <span>Monster Show, Marlboro Gallery, Prince George&rsquo;s Community College, Landover, MD</span>
      </p>
      <%= render 'layouts/blankLine' %>
      <p>
        <span>2011 &nbsp; &nbsp;WPA/Hickok Cole Art Night, Hickok Cole Architects, Washington, DC</span>
      </p>
      <p >
        <span>curated by Lauren Gentile, Contemporary Wing</span>
      </p>
      <%= render 'layouts/blankLine' %>
      <p>
        <span>2010 &nbsp; &nbsp;Intuitive Paint-Mike Dowley and William Whitaker, VisArts Center, Rockville, MD</span>
      </p>
      <%= render 'layouts/blankLine' %>
      <p>
        <span>PROFESSIONAL ACTIVITIES / AWARDS &nbsp;</span>
      </p>
      <%= render 'layouts/blankLine' %>
      <p>
        <span>2013 &nbsp; &nbsp;A Structure Unseen: Painting and Memory, artist talk given as part of the &ldquo;Works in Progress&rdquo; series at the National Gallery of Art, Washington, DC</span>
      </p>
      <p>
        <span>2011 &nbsp; &nbsp;Semi-Finalist, Trawick Prize, Bethesda Urban Partnership</span>
      </p>
      <%= render 'layouts/blankLine' %>
      <p>
        <span>EDUCATION <br></span>
      </p>
      <p>
        <span>Rhode Island School of Design, Providence, RI, 1997<br>Bachelor of Fine Arts, Painting</span>
      </p>
    </div>
  </div>
</div>
