	<p>
		<%= f.label :image %>
		<%= f.file_field :plate %>
	</p>
	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :date %><br>
		<%= f.text_field :date %>
	</p>
	<p>
		<%= f.label :dims %><br>
		<%= f.text_field :dims %>
	</p>
	<p>
		<%= f.label :medium %><br>
		<%= f.text_field :medium %>
	</p>