<% provide(:title, "images") %>
<%= render 'layouts/header' %>
<div class="row">
<%= render 'layouts/sidebar' %>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-right">
			<div class="owl-carousel">
				<% @images.each do |image| %>
					<div class="item">
						<%= image_tag((image.plate.url if image.plate?), :class => "img-responsive") %>
						<ul>
							<li><%= image.title %></li>
							<li><%= image.date %></li>
							<li><%= image.dims %></li>
							<li><%= image.medium %></li>
						</ul>
					</div>
				<% end %>
			</div>
		</div>
</div>
<%= render 'layouts/footer' %>

<script type="text/javascript">
	$(".owl-carousel").owlCarousel({

		navigation: true,
		navigationText: ["prev","next"],
		singleItem: true,
		theme: "owl-yoshi"
	});
</script>