<% provide(:title, "new") %>
<%= render 'layouts/header' %>
<div class="row">
	<%= render 'layouts/sidebar' %>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-right">
			<%= form_for :image, url: images_path do |f| %>
				<p>
					<%= f.label :title %><br>
					<%= f.text_field :title %>
				</p>
				<p>
					<%= f.label :date %><br>
					<%= f.text_field :date %>
				</p>
				<p>
					<%= f.label :dims %><br>
					<%= f.text_field :dims %>
				</p>
				<p>
					<%= f.label :medium %><br>
					<%= f.text_field :medium %>
				</p>
				<p>
					<%= f.submit %>
				</p>
			<% end %>
		</div>
</div>
<%= render 'layouts/footer' %>