<% provide(:title, "new") %>
<%= render 'layouts/header' %>
<div class="row">
	<%= render 'layouts/sidebar' %>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div role="main" class="main">
        <%= form_for(@image, url: {action: "create"}, html: { multipart: true }) do |f| %>
  				<%= render 'images/fields', f: f %>
          <p>
            <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
            <i class="glyphicon glyphicon-upload"></i> Submit
            <% end %>
          </p>
        <% end %>
  		</div>
    </div>
</div>
<%= render 'layouts/footer' %>
<script type="text/javascript">
  $("#image-plate").fileinput({
  browseClass: "btn btn-primary btn-block",
  browseLabel: "Browse",
  showCaption: false,
  showRemove: false,
  showUpload: false,
});
</script>
