<header class="visible-xs visible-sm navbar">
	<div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="text-left">
    		<%= link_to "william whitaker", root_path, id: "logo", class: "text-uppercase" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 links">
      <ul class="list-unstyled list-inline text-left">
        <li><%= link_to "images", images_path %></li>
        <li><%= link_to "cv", cv_path %></li>
        <li><%= link_to "contact", new_contact_path %></li>
        <% if logged_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" type="button" id="admin_dropdown" data-toggle="dropdown" aria-expanded="true">
          admin
          <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="admin_dropdown">
            <li>
              <%= link_to "new image", new_image_path, method: "get" %>
            </li>
            <li>
              <%= link_to "log out", logout_path, method: "delete" %>
            </li>
        <% end %>   
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>