<div class="col-md-4 col-lg-4 visible-md visible-lg text-right sidebar">
		<%= link_to "william whitaker", root_path, id: "logo", class: "text-uppercase" %>
		<ul id="sidebar-menu" class="list-unstyled">
			<li><%= link_to "images", images_path %></li>		
			<li><%= link_to "cv", cv_path %></li>
			<li><%= link_to "contact", new_contact_path %></li>
      <% if logged_in? %>
      <li class="dropdown" id="sidebar-dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          admin <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to "new image", new_image_path, method: "get" %>
          </li>
          <li>
            <%= link_to "log out", logout_path, method: "delete" %>
          </li>
        </ul>
      </li>
      <% end %>
		</ul>
	</div>