<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= google_webfonts_init({
  	google: ['Lato','PT Sans']
  	}) %>
</head>
<body>
	<div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="row visible-md visible-lg" id="bumper">
          <div class="col-md-12 col-lg-12">
          </div>
        </div>
        <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
    		<%= yield %>
      </div>
    </div>
	</div>
</body>
</html>
